body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url("imagem.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div#dadospaciente {
  background-color: #b4c9e9;
  align-items: center;
  width: 500px;
  height: 400px;
  padding: 40px;
  border-radius: 20px;
  margin-top: 50px;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
