body{ 
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("imagem.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;  
  }
